@{
    var tickets = Model;
}
<table class="table">
    <tr>
        <th>Created Time</th>
        <th>Is Closed</th>
        <th>Severity</th>
        <th>Description</th>
    </tr>
    @foreach (var ticket in tickets)
    {
            <tr>
                <td>@ticket.CreatedTime</td>
                <td>@ticket.IsClosed</td>
                <td>@ticket.Severity</td>
                <td>@ticket.Description</td>
            </tr>
    }
</table>
